node_modules
dist/
*.log
.vscode
output.mp4
clip.mp4
deploy/config.json
deploy/win32/FFmpegConvert/qode.json
deploy/win32/FFmpegConvert/platforms/.gitkeep
deploy/win32/FFmpegConvert/styles/.gitkeep
deploy/win32/build/FFmpegConvert/D3Dcompiler_47.dll
deploy/win32/build/FFmpegConvert/libEGL.dll
deploy/win32/build/FFmpegConvert/libGLESV2.dll
deploy/win32/build/FFmpegConvert/qode.exe
deploy/win32/build/FFmpegConvert/qode.json
deploy/win32/build/FFmpegConvert/Qt5Core.dll
deploy/win32/build/FFmpegConvert/Qt5Gui.dll
deploy/win32/build/FFmpegConvert/Qt5Svg.dll
deploy/win32/build/FFmpegConvert/Qt5Widgets.dll
deploy/win32/build/FFmpegConvert/iconengines/qsvgicon.dll
deploy/win32/build/FFmpegConvert/imageformats/qgif.dll
deploy/win32/build/FFmpegConvert/imageformats/qico.dll
deploy/win32/build/FFmpegConvert/imageformats/qjpeg.dll
deploy/win32/build/FFmpegConvert/imageformats/qsvg.dll
deploy/win32/build/FFmpegConvert/platforms/.gitkeep
deploy/win32/build/FFmpegConvert/platforms/qwindows.dll
deploy/win32/build/FFmpegConvert/styles/.gitkeep
deploy/win32/build/FFmpegConvert/styles/qwindowsvistastyle.dll
